body {
    background-color: black;
}

.nav-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.ebbLogo {
    margin-left: 35%;
    width: 40%;
    padding-bottom: 60px;
    
}

.column {
    float: right;
    width: 1%;
    color: bisque;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .carousel-inner {
    width: 25%;
    height: 25%;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 200px;
      padding-top: 200px;
  }

footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 30px;
    margin: 30px;
}
.contactInfo {
    text-align: right;
}
.hours {
    text-align: left;
}


form {
    width: 30%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 200px;
    
}


/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  .row {
      margin-left: 10%;
      margin-right: auto;
  }
  .galleryCaption1 {
      color: white;
      text-align: center;
      
  }
  .galleryCaption2 {
    color: white;
    text-align: center;
    padding: 60px;
    
}